body {
	margin: 0;
	padding: 0;
	color: #333333;
	font: 12px arial;
}

.logo {
	width: 800px;
	margin: 90px auto auto auto;
}

.logo img {
	width: 270px;
	height: 105px;
	margin-left: 270px;
}

.serach {
	width: 640px;
	margin: 50px auto;
}

.wd {
	width: 540px;
	height: 36px;
	font: 16px/18px arial;
	line-height: 36px;
	padding: 5px 8px;
	background: transparent;
	border: 1px solid #b6b6b6;
	outline: 0;
	-webkit-appearance: none;
	float: left;
}

.wd:focus {
	border: 1px solid #4791FF;
}

.sbt {
	width: 100px;
	height: 36px;
	color: #ffffff;
	line-height: 34px;
	font-size: 15px;
	background: #3385ff;
	cursor: pointer;
	border: 0;
	margin-left: -1px;
	outline: 0;
	-webkit-appearance: none;
	float: left;
}

.info {
	width: 100%;
	margin: 0 auto;
	color: #999999;
	text-align: center;
	position: absolute;
	display: inline-block;
	overflow: hidden;
	bottom: 15px;
}

.item {
	width: 40px;
	height: 100px;
	float: left;
	position: absolute;
	top: 0;
	margin-top: 90px;
	cursor: pointer;
}




